.container{
    margin: auto;
    width: 75%;
}
body{
    background-color: azure;
}
thead{
    width: fit-content;
    margin: auto;
    justify-items: auto;
}
th{
    background-color: rgb(156, 156, 156);
    border: black;
    text-align: center;
    width: 300px;
    font-size: 35px;
}
td{
   
    border: black;
    text-align: center;
    width: auto;
    font-size: 30px;
}
